name: flutter_voice_processor_example
description: Demonstrates how to use the flutter_voice_processor plugin.

publish_to: 'none'

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_sound: ^9.2.13
  flutter_voice_processor:
  path_provider: ^2.1.2
  record: ^5.0.4

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  lints: ^1.0.1

flutter:
  uses-material-design: true